---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to SelectTree.">
  <main class="m-auto p-[1.5rem] max-w-[60ch]">
    <ul role="list" class="grid gap-[1rem]" 
         style="grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));"
      >
      <Card
        href="https://selectree.calpoly.edu/"
        title="SelecTree"
        body="Go try out the live site and tell us what you think ❤️  !"
      />
      <Card
        href="http://selectree-docker-dev-env.us-west-2.elasticbeanstalk.com/ "
        title="Alpha Enviroment"
        body="Explore and test out the upcoming selectTree features"
      />
      <Card
        href="/#"
        title="Documentation (Under Construction)"
        body="Learn about the new SelecTree features."
      />
      <Card
        href="/#"
        title="Report Issue (Currently No Form)"
        body="Put in an issue ticket for a bug fix."
      />
    </ul>
  </main>
</Layout>
