---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main class="m-auto p-[1.5rem] max-w-[60ch]">
    <ul role="list" class="grid gap-[1rem]" 
         style="grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));"
      >
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="http://selectree-docker-capstone-env.us-west-2.elasticbeanstalk.com/"
        title="Alpha Enviroment"
        body="Explore and test out the upcoming selectTree features"
      />
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </ul>
  </main>
</Layout>
