<div
   class="w-full bg-cover bg-center bg-fixed"
   style="height:20em; background-image: url(https://muchquak.github.io/UFEI-splash.jpg)"
>
   <div class="flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50">
      <div class="text-center">
         <h1 class="font-semibold text-6xl text-white">SelecTree Docs</h1>
         <h1 class="text-4xl text-white">A Guide for SelecTree</h1>
      </div>
   </div>
</div>
